In [14]:
#importation des librairies utiles
import pandas as pd

In [15]:
#Fonction qui récupère la population d'un pays donné
def recup_pop(pays) :
    pop = data_population[data_population[zone] == pays][valeur].values
    pop = pop * 1000
    return pop

In [16]:
#Fonction qui passe les valeurs/jour en valeurs/an
def convertir_kcal_annee(data) :
    data.loc[data[unite] == 'Kcal/personne/jour', valeur] *=  365
    data.loc[data[unite] == 'Kcal/personne/jour', unite] = 'Kcal/personne'
    return data

In [17]:
#fonction passe les valeurs/personne en valeurs pour toute la population
def convertir_pop(data) :
    data_annee = convertir_kcal_annee(data)
    for (z, p, u) in zip(data_annee[zone], data_annee[produit], data_annee[unite]) :
        mask1 = data_annee[zone] == z
        mask2 = data_annee[produit] == p
        mask3 = data_annee[unite] == u
        pop = recup_pop(z)
        if u == 'Kcal/personne' :
            data_annee.loc[ mask3 & mask1 & mask2, valeur] *= pop
        elif u == 'Milliers de tonnes' :
            data_annee.loc[ mask3 & mask1 & mask2, valeur] *= 1000000 
    data_annee.loc[data_annee[unite] == 'Kcal/personne', unite] = 'Kcal'
    data_annee.loc[data_annee[unite] == 'Milliers de tonnes', unite] = 'kg'
    return data_annee

In [18]:
#Récupération des données utiles
data_population = pd.read_csv('fr_population.csv')
data_animaux = pd.read_csv('fr_animaux.csv')
data_vegetaux = pd.read_csv('fr_vegetaux.csv')

#On gère nos noms de colonnes via des variables pour faciliter la maintenance du code
code_zone = "Code zone"
zone = 'Zone'
valeur = 'Valeur'
element = "Élément"
code_domaine = 'Code Domaine'
domaine = 'Domaine'
code_element = 'Code Élément'
code_produit = 'Code Produit'
produit = 'Produit'
code_annee = 'Code année'
annee = 'Année'
symbole = 'Symbole'
description_symbole = 'Description du Symbole'
unite = 'Unité'

data_population = data_population[data_population[code_zone] != 351]
data_animaux = data_animaux[data_animaux[code_zone] != 351]
data_vegetaux = data_vegetaux[data_vegetaux[code_zone] != 351]

In [19]:
#Suppression des doublons, des colonnes et des lignes inutiles de nos dataframe
data_population = data_population[data_population[code_zone] != 351]

data_animaux = data_animaux[data_animaux[code_zone] != 351]
data_animaux = data_animaux[data_animaux[element].str.contains('Kcal/personne/jour|Nourriture')]
data_animaux = data_animaux.drop([code_zone, code_element, element, code_domaine, domaine, code_produit, code_annee, annee, symbole, description_symbole], axis = 1)
data_vegetaux = data_vegetaux[data_vegetaux[code_zone] != 351]
data_vegetaux = data_vegetaux[data_vegetaux[element].str.contains('Kcal/personne/jour|Nourriture')]
data_vegetaux = data_vegetaux.drop([code_zone, code_element, element, code_domaine, domaine, code_produit, code_annee, annee, symbole, description_symbole], axis = 1)

In [20]:
#On réunit nos jeux de données
data_dispo = data_animaux.append(data_vegetaux)
data_dispo.head(20)

           Zone                 Produit               Unité  Valeur
3   Afghanistan        Viande de Bovins  Milliers de tonnes   140.0
5   Afghanistan        Viande de Bovins  Kcal/personne/jour    27.0
10  Afghanistan  Viande d'Ovins/Caprins  Milliers de tonnes   150.0
12  Afghanistan  Viande d'Ovins/Caprins  Kcal/personne/jour    31.0
18  Afghanistan     Viande de Volailles  Milliers de tonnes    75.0
20  Afghanistan     Viande de Volailles  Kcal/personne/jour     9.0
26  Afghanistan           Viande, Autre  Milliers de tonnes    12.0
28  Afghanistan           Viande, Autre  Kcal/personne/jour     1.0
33  Afghanistan        Abats Comestible  Milliers de tonnes    53.0
35  Afghanistan        Abats Comestible  Kcal/personne/jour     5.0
41  Afghanistan            Beurre, Ghee  Milliers de tonnes    36.0
43  Afghanistan            Beurre, Ghee  Kcal/personne/jour    23.0
48  Afghanistan                   Crème  Milliers de tonnes    18.0
50  Afghanistan                   Crème  Kcal/personne/jour     3.0
56  Afghanistan  Graisses Animales Crue  Milliers de tonnes    15.0
58  Afghanistan  Graisses Animales Crue  Kcal/personne/jour    12.0
66  Afghanistan                   Oeufs  Milliers de tonnes    40.0
68  Afghanistan                   Oeufs  Kcal/personne/jour     5.0
77  Afghanistan      Lait - Excl Beurre  Milliers de tonnes  1901.0
79  Afghanistan      Lait - Excl Beurre  Kcal/personne/jour   100.0

In [21]:
data_dispo.shape

(28256, 4)

In [22]:
data_dispo = convertir_pop(data_dispo)
data_dispo.head(20)

           Zone                 Produit Unité        Valeur
3   Afghanistan        Viande de Bovins    kg  1.400000e+08
5   Afghanistan        Viande de Bovins  Kcal  3.010900e+11
10  Afghanistan  Viande d'Ovins/Caprins    kg  1.500000e+08
12  Afghanistan  Viande d'Ovins/Caprins  Kcal  3.456959e+11
18  Afghanistan     Viande de Volailles    kg  7.500000e+07
20  Afghanistan     Viande de Volailles  Kcal  1.003633e+11
26  Afghanistan           Viande, Autre    kg  1.200000e+07
28  Afghanistan           Viande, Autre  Kcal  1.115148e+10
33  Afghanistan        Abats Comestible    kg  5.300000e+07
35  Afghanistan        Abats Comestible  Kcal  5.575740e+10
41  Afghanistan            Beurre, Ghee    kg  3.600000e+07
43  Afghanistan            Beurre, Ghee  Kcal  2.564840e+11
48  Afghanistan                   Crème    kg  1.800000e+07
50  Afghanistan                   Crème  Kcal  3.345444e+10
56  Afghanistan  Graisses Animales Crue    kg  1.500000e+07
58  Afghanistan  Graisses Animales Crue  Kcal  1.338178e+11
66  Afghanistan                   Oeufs    kg  4.000000e+07
68  Afghanistan                   Oeufs  Kcal  5.575740e+10
77  Afghanistan      Lait - Excl Beurre    kg  1.901000e+09
79  Afghanistan      Lait - Excl Beurre  Kcal  1.115148e+12

In [23]:
data_zone = data_dispo.groupby([zone, unite]).sum(valeur)
data_zone.head()

                            Valeur
Zone           Unité
Afghanistan    Kcal   2.327314e+13
               kg     1.073500e+10
Afrique du Sud Kcal   5.817498e+13
               kg     2.981200e+10
Albanie        Kcal   3.692166e+12

In [24]:
data_produit = data_dispo.groupby([produit, unite]).sum(valeur)
data_produit.head()

                                   Valeur
Produit               Unité
Abats Comestible      Kcal   1.723963e+13
                      kg     1.566900e+10
Agrumes, Autres       Kcal   2.473770e+12
                      kg     1.135900e+10
Aliments pour enfants Kcal   2.795015e+12

In [25]:
data_dispo_grouped = data_dispo.groupby([zone, produit, unite]).sum(valeur)
data_dispo_grouped.head()

                                               Valeur
Zone        Produit               Unité
Afghanistan Abats Comestible      Kcal   5.575740e+10
                                  kg     5.300000e+07
            Agrumes, Autres       Kcal   1.115148e+10
                                  kg     3.900000e+07
            Aliments pour enfants Kcal   1.115148e+10

In [26]:
#data_dispo.groupby([zone, unite]).sum(valeur).to_csv('fr_data_zone.csv')
#data_dispo.groupby([produit, unite]).sum(valeur).to_csv('fr_data_produit.csv')
data_dispo.groupby([zone, produit, unite]).sum(valeur).to_csv('P3_03_données.csv')